// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-color: #EDEDE7;
}

h1 {
  margin-top: 1rem;
  font-size: 1rem;
  border: black solid 1px;
  border-radius: 5px;
  display: inline-block;
  padding: 0.2rem 0.8rem;
  background-color: #DBDDDA;
  color: #202836;
  font-weight: bold;
  margin-bottom: 16px;
}

a {
  color: #202836;
  text-decoration: underline;
}

.navbar-brand {
  font-size:1.3rem ;
  text-decoration: none;
  padding:0;
}

.navbar-toggler {
  border: none;
  .navbar-toggler-icon {
    width: 1.4rem;
    height: 1.4rem;
  }
}

.nav-link {
  padding-left: 16px;
}

.page-link {
  color: #202836;
  background-color: #DBDDDA;
  border: gray 1px solid;
}

.page-link:hover {
  opacity: 0.8;
  color: #202836;
  background-color: #DBDDDA;
  border: gray 1px solid;
}

.page-item.disabled .page-link {
  background-color: #DBDDDA;
  border: gray 1px solid;
}

.page-item.active .page-link {
  background-color: #202836;
  border-color: #202836;
}

.page-item.active .page-link:hover {
  background-color: #202836;
  border-color: #202836;
  opacity: 0.8;
  color: #ffffff;
}

.container {
  position: relative;
}

.new-container {
  height: 82vh;
}

.form-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  .form-second-container {
    padding: 15px;
    max-width: 500px;
    .distance-submit-container {
      display: flex;
      justify-content: space-between;
      max-width: 500px;
      .option-btn {
        width: 33%;
        margin-bottom: 0.5rem;
        padding: 0.1rem 0;
        font-size: 0.8rem;
      }
    }
  }
}

.distance-submit-btn {
  width: 100%;
  margin-bottom: 0.5rem;
  padding: 0.3rem 0;
  font-size: 0.8rem;
}

.form-group {
  margin-bottom: 12px;
  .form-control {
    width: 100%;
    max-width: 200px;
    font-size: 1rem;
    margin-left: 0.25rem;
    padding: 0.2rem;
  }
  label {
    margin-bottom: 0;
  }
}

.hidden-form {
  display: none;
}

.btn-user {
  width: 100%;
  max-width: 200px;
  margin-top: 12px;
  margin-bottom: 30px;
}

.test-user-btn {
  margin-top: 0;
}

.point-container {
  display: flex;
  justify-content: space-between;
  margin-top: 0.3rem;
  max-width: 500px;
  .form-control {
    display: none;
  }
  label{
    display: none;
  }
  .point-set-btn {
    width: 49.7%;
    padding: 0.3rem 0;
    font-size: 0.80rem;
  }
}

.impact-feelings-container {
  margin: 0.3rem 0 0.4rem;
  border: #202836 solid 1px;
  padding: 0.3rem 0.3rem 0;
  display: flex;
  align-items: center;
  background-color: #DBDDDA;
  max-width: 500px;
  .feeling-title {
    background-color: #202836;
    border-radius: 3px;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    text-align: center;
    min-width: 50px;
    padding: 0.2rem 0.1rem;
    span {
      color: white;
    }
  }
  .impact-feelings {
    display: flex;
    flex-wrap: wrap;
    .form-check {
      margin-right: 0.6rem;
      margin-bottom: 0.2rem;
      padding: 0;
      display: flex;
      align-items: center;
      .form-check-label {
        padding-left: 1rem;
        color: #202836;
        font-weight: bold;
        font-size: 0.6rem;
      }
      .form-check-input {
        margin: 0;
      }
    }
  }
}

#maps {
  width: 100%;
  max-width: 470px;
  height: 50vh;
  border: solid #202836 1px;
  margin: 0.5rem 0 0.5rem;
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: darkgray;
  p {
    color: white;
  }
}



.alert-container {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 210px;
  .alert-second-container {
    padding: 15px;
    .alert {
      max-width: 500px;
    }
  }
}

.alert {
  z-index: 10;
  ul {
    margin: 0;
    list-style: none;
    padding: 0;
  }
 }

 .badge {
   font-size: 0.7rem;
 }

.distance-data-table {
  border-bottom: solid 1px gray;
  border-left: solid 2px gray;
  margin-bottom: 10px;
  width: 100%;
  max-width: 500px;
  td {
    padding: 0;
    padding-left: 4px;
    vertical-align: middle;
    border: none;
    .distance-container {
      vertical-align: middle;
      width: 90px;
      a {
        font-size: 1.2rem;
      }
    }
    .updated_at {
      font-size: 1rem;
      color: gray;
    }
  }
}

.btn-sm {
  font-size: 0.8rem;
  padding: 4px 6px;
  margin-bottom: 2px;
  text-decoration: none;
}

.pagination-container {
  margin-top: 20px;
  li {
    font-size: 0.8rem;
    a {
      padding: 6px 6px;
    }
  }

}

.footer {
  border-top: #bbbbbb 1px solid;
  color: #bbbbbb;
  text-align: right;
  margin: 0 4px;
  padding: 0 5px;
  font-size: 0.8rem;
}